*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background:rgb(4, 26, 26);
}
.contenedor{
    position: relative;
    width: 100%;
    height: 100%;
}

.area-login{
    text-align: center;
    width: 400px;
    margin: 2% auto;

}

h1{
    color: white;
    font-size: 45px;
    padding: 10px 0;
}

.btn-login{
    display: inline-block;
    color: black;
    background: gray;
    text-decoration: none;
    padding: 10px 5px;
    margin-top: 10px;
    transition: background 0.6s;
}
.btn-login:hover{
    background: rgb(99, 99, 99);
}
.btn-registrar{
    display: inline-block;
    color: black;
    background: gray;
    text-decoration: none;
    padding: 10px 5px;
    margin-top: 10px;
    transition: background 0.6s;
}
.btn-registrar:hover{
    background: rgb(99, 99, 99);
}
.btn-volver{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 10px;

}

form{
    position: relative;
    background: rgb(3, 65, 65);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px;
    
}

label, input{
    margin: 5px 0;
}
input{
    border: none;
    width: 200px;
    height: 25px;
    background: rgb(11, 29, 29);
    color: wheat;
    text-align: center;
}
button{
    background: green;
    border: none;
    width: 100px;
    padding: 10px 5px;
    margin: auto;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.6s;
}
button:hover{
    background: rgb(0, 87, 0);
}

p{
    background: tomato;
    position: absolute;
    top: 20px;
    left: 5%;
    text-align: center;
    padding: 5px;
    width: 90%;
}

h2{
    color: white;
    padding: 5px 0;
}


footer h3{
    text-align: center;
    color: white;
    padding: 10px 0;
}