<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion comercios</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'listas.css' %}">
</head>
<body>
    <header>
        <h1>Gestión Comercios</h1>
        <div class="usuarios">
            {% if request.user.is_authenticated %}
                <a class="btn-login" href="{% url 'perfil' %}">{{ request.user.username }}</a>
                <a class="btn-register" href="{% url 'logout'  %}">Cerrar sesión</a>
            {% else %}
                <a class="btn-login" href="{% url 'login' %}">Iniciar sesión</a>
                <a class="btn-register" href="{% url 'registro' %}">Regístrate</a>
            {% endif %}
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li class="localidad">
                <a href="#">Localidades</a>
                <ul class="list-localidades">
                    <li><a href="">Resistencia</a></li>
                    <li><a href="">Machagai</a></li>
                    <li><a href="">Barranquera</a></li>
                    <li><a href="{% url 'localidades' %}">Mas...</a></li>
                </ul>
            </li>
            <li><a href="{% url 'comercios'  %}">Comercios</a></li>
            <li><a href="{% url 'info'  %}">info</a></li>
            <li><a href="{% url 'contactanos'  %}">Contactanos</a></li>
        </ul>
    </nav>

    {% block section %}

    {% endblock %}
    <footer>
        <h3>&copy; 2021 Gestion Comercios</h3>
    </footer>
</body>
</html>