{% extends 'base.html'%}
{% load static %}

{% block section %}

<div class="seccion-contactanos">
   <form action="contactanos" method="POST">
       {% csrf_token %}
       <h1>{{mensaje}}</h1>
        <label for="">Asunto:</label>
        <input type="text" name="asunto">
        <label for="">Email:</label>
        <input type="email" name="email">
        <label for="">Mensaje:</label>
        
        <textarea name="mensaje" id="" cols="30" rows="10"></textarea>

        <button type="submit" >Enviar</button>
</div>
       
{% endblock %}