{% extends 'base.html' %}

{% load static %}

{% block section %}
    <section>
        <div class="categorias">
                <h1>Comercios</h1>
                <article>
                    {% for f in form %}
                    <div class="comercios">
                        <h2>{{ f.nombre_del_comercio }}</h2>
                        <img src="{{ f.img_comercio.url }}" alt="">
                        <p>{{ f.descripcion }}</p>
                        <h3><a href="{% url 'seccionComercio' f.id %}">Saber mas...</a></h3>
                        <a class="btn-localidad" href="">{{ f.localidad }}</a>
                    </div>
                    {% endfor %} 
                </article>
        </div>
    </section>
    
{% endblock %}