{% extends 'base.html' %}

{% load static %}

{%block section%}
<div class="grid">
    <div class="mw-category-group">   
        <h3>A</h3>
        <ul><li><a href="" title="Avia Terai">Avia Terai</a></li></ul>
    </div>
    <div class="mw-category-group">
        <h3>C</h3>
    <li><a href="" title="Charata">Charata</a></li>
    <li><a href="" title="Colonia Benítez">Colonia Benítez</a></li>
    <li><a href="" title="Colonia Elisa">Colonia Elisa</a></li>
    <li><a href="" title="Comandancia Frías">Comandancia Frías</a></li>
        <h3>E</h3>
    <ul><li><a href="" title="El Paranacito">El Paranacito</a></li>
    <li><a href="" title="El Sauzalito">El Sauzalito</a></li></ul>
    </div>
    <div class="mw-category-group">
        
        <h3>F</h3>
    <ul><li><a href="" title="Fortín Belgrano">Fortín Belgrano</a></li></ul></div><div class="mw-category-group">

        <h3>G</h3>
    <ul><li><a href="" title="Gancedo">Gancedo</a></li>
    <li><a href="" title="General José de San Martín">General José de San Martín</a></li>
    <li><a href="" title="General Pinedo">General Pinedo</a></li></ul></div><div class="mw-category-group">

        <h3>H</h3>
    <ul><li><a href="" title="Hermoso Campo">Hermoso Campo</a></li></ul></div><div class="mw-category-group">

        <h3>I</h3>
    <ul><li><a href="" title="Isla Soto (Argentina)">Isla Soto (Argentina)</a></li></ul></div><div class="mw-category-group">

        <h3>J</h3>
    <ul><li><a href="" title="Juan José Castelli (Chaco)">Juan José Castelli (Chaco)</a></li></ul></div><div class="mw-category-group">

        <h3>L</h3>
     <li><a href="" title="La Escondida (Argentina)">La Escondida (Argentina)</a></li>
     <li><a href="" title="La Leonesa">La Leonesa</a></li>
     <li><a href="" title="Las Garcitas">Las Garcitas</a></li>
     <li><a href="" title="Las Hacheras">Las Hacheras</a></li>
     <li><a href="" title="Las Palmas (Chaco)">Las Palmas (Chaco)</a></li>
 
        <h3>M</h3>
    <ul><li><a href="" title="Machagai">Machagai</a></li>
    <li><a href="" title="Makallé">Makallé</a></li>
    <li><a href="" title="Margarita Belén">Margarita Belén</a></li>
    <li><a href="" title="Miraflores (Chaco)">Miraflores (Chaco)</a></li>
    <li><a href="" title="Misión Nueva Pompeya">Misión Nueva Pompeya</a></li></ul></div><div class="mw-category-group">
        
        <h3>N</h3>
    <ul><li><a href="" title="Napenay">Napenay</a></li></ul></div><div class="mw-category-group">
        
        <h3>P</h3>
    <li><a href="" title="Presidencia de la Plaza">Presidencia de la Plaza</a></li>
    <li><a href="" title="Presidencia Roca">Presidencia Roca</a></li>
    <li><a href="" title="Puerto Bermejo">Puerto Bermejo</a></li>
    <li><a href="" title="Puerto Las Palmas">Puerto Las Palmas</a></li>
    <li><a href="" title="Puerto Tirol">Puerto Tirol</a></li></ul></div><div class="mw-category-group">
        
        <h3>Q</h3>
    <ul><li><a href="" title="Quitilipi">Quitilipi</a></li></ul></div><div class="mw-category-group">

        <h3>R</h3>
    <ul><li><a href="" title="Resistencia">Resistencia</a></li></ul></div><div class="mw-category-group">

        <h3>S</h3>
    <ul><li><a href="" title="San Bernardo (Chaco)">San Bernardo (Chaco)</a></li>
    <li><a href="" title="Paraje San Fernando">Paraje San Fernando</a></li>
    <li><a href="" title="Santa Sylvina">Santa Sylvina</a></li></ul></div><div class="mw-category-group">
        
        <h3>T</h3>
    <ul><li><a href="" title="Taco Pozo">Taco Pozo</a></li>
    <li><a href="" title="Tres Isletas">Tres Isletas</a></li></ul></div><div class="mw-category-group">
        
        <h3>V</h3>
    <ul><li><a href="" title="Villa Ángela">Villa Ángela</a></li>
    <li><a href="" title="Villa Berthet">Villa Berthet</a></li>
    <li><a href="" title="Villa Río Bermejito">Villa Río Bermejito</a></li></ul>
    </div>
</div>

{% endblock %}
