/* Menu de localidades y comercios*/
.menu{
    border-bottom: none;
    list-style: none;
    padding: 20px;
    width: 900px;
    list-style: none;

}

.menu li{
    text-align: center;
    margin: 10px;

}


.menu li a{
    background: rgb(3, 15, 15); 
    transition: background 0.3s;

    display: block;
    background-color: rgba(1, 53, 53);
    color: rgb(196, 195, 195);
    padding: 20px;
    width: 90%;
    text-decoration: none;
    border-bottom: 1px solid rgba(196, 195, 195);
    border-top: 1px solid rgb(196, 195, 195);
    border-right: 1px solid rgba(196, 195, 195);
    border-left: 1px solid rgba(196, 195, 195);
}
.menu li a:hover{
    background: rgb(3, 15, 15) 

}

